# Use postgres/example user/password credentials
services:

  db:
    image: postgres:17
    container_name: postgres
    restart: always
    volumes:
      - ./data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    user: ${WODUID}:${WODGID}
    environment:
      POSTGRES_USER: ${WODPGUSER}
      POSTGRES_PASSWORD: ${WODPGPASSWD}
      POSTGRES_DB: ${WODPGDB}
      PGDATA: /var/lib/postgresql/data/apertis-qa-report

  adminer:
    image: adminer
    restart: always
    ports:
      - "8083:8080"
